*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

.principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letras {
    display: inline-block;
} 

.estilo_letras {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid;
    border-radius: 10px;
}

.letra_certa {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid;
    border-radius: 10px;
    background-color: green;
}

.letra_errada {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid;
    border-radius: 10px;
    background-color: red;
}

.botao {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.botao:hover {
    background-color: white;
    color: black;
    border: solid black;
}

.botao:active {
    background-color: grey;
    color: black;
    border: solid black;
}

.botao_desistir {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.botao_desistir:hover {
    background-color: white;
    color: black;
    border: solid black;
}

.botao_desistir:active {
    background-color: grey;
    color: black;
    border: solid black;
}

#mensagem_certa {
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#mensagem_desistir {
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


@media (max-width: 1000px) {

        .letras {
        display: inline-block;
    }
    .estilo_letras {
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 10px;
    }
    
    .letra_certa {
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 10px;
        background-color: green;
    }
    
    .letra_errada {
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 10px;
        background-color: red;
    }

    .botao {
        position: absolute;
        top: 180%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        width: 100px;
        height: 40px;
        background-color: black;
        color: white;
        border: solid black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;

  }

  .botao_desistir {
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

#mensagem_certa {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#mensagem_desistir {
    position: absolute;
    top: 560%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

}
